/*google font*/
@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Montserrat|Patua+One|Rubik|Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue|Gotu&display=swap');
/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  font-family: 'Gotu', sans-serif;
  scroll-behavior: smooth;
}
body#bg-image {
	background: url("../images/bgblack.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
body#bg-img {
	background: url("../images/bgblack3.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.navbar{
	background: rgba(0, 0, 0, 0.900) !important;
	overflow: hidden;
}

strong {
  font-size: 30px;
  color: #FFA500;
}

/*header*/
header {
  position: fixed;
  z-index: 1;
  width: 100%; 
}

.navbar-toggler, 
.active {
  color: #FFA500 !important; 
}

.nav-link {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .1rem;
  padding-top: .8rem;
  padding-right: .7rem;
  font-family: 'Gotu', sans-serif;
}

.nav-link:hover {
  color: #FFA500 !important;
  transition: all 0.5s ease-out !important;
}
.active {
  color: #FFA500 !important;
}
/*end header*/


/*index main*/
main {
  padding: 4rem;
  min-height: calc(100vh - 60px); 
}
main .icons {
  margin-top: 1rem; 
}
main .reserve-button {
  text-decoration: none;
	display: inline-block;
	height: auto;
	padding: 14px 30px;
	letter-spacing: 0.03rem;
	font-family:'Gotu' , sans-serif;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	background-color:#FFA500;
}
.reserve-button:hover {
  background: transparent;
  color: #FFA500;
  transition: all 0.5s ease-out;
}

main#home {
    overflow: hidden; 
}
main#home h1 {
  margin-top: 25vh;
  animation-name: bounceIn;
  animation-duration: 2s; 
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; 
}

h1.lg-heading {
  font-size: 7rem;
  text-shadow: 2px 2px 20px #000000;
  font-family: 'Gotu', sans-serif;
}
h2.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  font-family: 'Gotu', sans-serif;
  color: #fff;
}
.paragraph {
  color: #fff;
	font-weight: 500;
	text-decoration: underline;
	padding: 0.2rem 1rem;
}
.paragraph:hover {
	color: #FFA500;
}

.txt2 {
  color: #FFA500;
}
/*end index*/



/*menu*/

main#menu {
    overflow: hidden; 
}
main#menu h1 {
  margin-top: 10vh;
  animation-name: bounceIn;
  animation-duration: 2s; 
}
.ourmenu {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); 
}
.ourmenu img {
  width: 100%;
  border: 3px #fff solid; 
}
.ourmenu img:hover {
  opacity: 0.5;
  transition: all 0.5s ease-out; 
  border-color: #FFA500;
}
.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  font-size: .9rem;
}
.btn:hover, .btn-dark:hover {
  background: #FFA500;
  color: #000;
  animation-name: bounceIn;
  animation-duration: 1s; 
}
.btn-dark {
  color: #fff; 
}
/*end menu*/


/********** sections **************/
/*section 1*/
.col-lg-4 h1 {
  color:  #FFA500;
}
.col-lg-4 p {
  color: white;
  font-size: 1.5em;
}
section#id-about {
    overflow: hidden; 
}
section#id-about h1 {
  margin-top: 10vh;
  animation-name: bounceIn;
  animation-duration: 2s; 
}
/*end section 1*/


/*  Section 2  */
.section-2 {
  margin-top: 15vmin;
}
.cover {
  width: 100%;
  height: 55vmin;
  background: url("../images/bg-2.jpg");
  background-position: -24rem -19rem;
  background-size: 150%;
  position: relative;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 19vmin;
}

.cover .content > h1 {
  font-family: 'Gotu', sans-serif;
  font-size: 6vmin;
  color: whitesmoke;
}

.cover .content > p {
  font-family: 'Gotu', sans-serif;
  font-size: 2vmin;
  color: #e5e5e5;
}

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(255, 165, 0, 0.93);
}

.numbers {
  margin-top: -15vmin;
}

.numbers .rect h1 {
  font-size: 5rem;
  color: tomato;
}

.numbers .rect > p {
  font-family: 'Gotu', sans-serif;
}
/*end section-2*/


/* Section 3 */

.section-3 {
  height: 60vmin;
  margin-top: 15vmin;
  background: rgb(255, 165, 0, 0.93);
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12 > p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: white;
  font-size: 3vmin;
}

.section-3 .desktop {
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 3vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}
/*end section-3*/


/*section 4*/
.section-4 .container h1 {
  font-size: 8vmin;
  padding-top: 14vmin;
  color: #fff !important;
  text-decoration: none;
  font-family: 'Gotu', sans-serif;
}
.card-img-top {
  border-radius: 300px;
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
/*end section-4*/


/*contact*/
/*boxes*/
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; 
}
.boxes div {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1rem 1rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
  color: #fff; 
}
.boxes div:hover {
/*  padding: 0.5rem 1.5rem;*/
  background:#FFA500;
  color: #000;

}
.boxes div:hover span {
    color: green;
 }
 main#contact h1 {
  animation-name: bounceIn;
  animation-duration: 2s; 
  padding-top: 5rem;
}
/* end contact */


/*reserve*/
.css-contact {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30%;
}
.contact-form {
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding-top: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat" ,sans-serif;
  margin-top: 350px;

}
.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
}
.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input, .txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn {
  display: inline-block;
  background: #FFA500;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}
.reserve {
  color: #FFA500;
}
/* end reserve */



/*footer*/

footer {
  background: rgba(0,0,0,0.815);
  overflow-x: hidden;
  padding: 8vmin 10vmin;
}
footer input {
  border: none !important;
}
footer input::placeholder {
  color:  white !important;
}
footer .input-group .input-group-text {
  background: orange;
  border: none;
}

footer .column i {
  color: #FFA500;
}

footer .column i+i {
  padding: 0 0.5em;
}

/*end footer*/







@media screen and (max-width: 768px) {
main {
    align-items: center;
    text-align: center; }
main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem; } 
footer .row .col-md-2 {
    margin-top: 8vmin; }}


@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }
  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }
  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }
  .numbers .rect h1 {
    font-size: 2rem;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }
  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }
  .section-3 .platform .col-md-6 {
    text-align: center !important;
  }
  .section-3 .desktop i {
    font-size: 7vmin;
  }
/*  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }*/
  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}





@media screen and (max-width: 500px) {
main {
    padding: 2rem; }
main #home h1 {
    margin-top: 10vh; }
main .lg-heading{
    margin-top: 3rem;
    font-size: 3rem; }
main .sm-heading {
    margin-top: 3rem;
    font-size: 1.5rem; }
footer .row .col-md-2 {
    margin-top: 8vmin; }
.ourmenu {
  grid-template-columns: 1fr;}}


/* screen size 375px */

@media only screen and (max-width: 375px) {
  .section-4 .card {
    width: 18em;
  }
  .section-2 .card {
    width: 18em; }
  .boxes div {
  padding: .5rem .5rem;
  }
  }
#bg-image {
  background: url("../images/bgPortrait.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  padding-top: 4rem;
  font-size: 5rem;
  text-shadow: 3px 3px 20px #000000;
}
}



@media only screen and (max-width: 320px) {
.section-4 .carousel-inner {
    margin-left: -4vmin; }}